<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuangshan.riskcontrol.dao.TestSingleChooseTMapper">
  <resultMap id="BaseResultMap" type="com.kuangshan.riskcontrol.model.TestSingleChooseT">

    <id column="single_choose_id" jdbcType="INTEGER" property="single_choose_id" />
    <result column="edu_category_id" jdbcType="INTEGER" property="edu_category_id" />
    <result column="edu_knowledge_point_id" jdbcType="INTEGER" property="edu_knowledge_point_id" />
    <result column="choose_content" jdbcType="VARCHAR" property="choose_content" />
    <result column="single_choose_a" jdbcType="VARCHAR" property="single_choose_a" />
    <result column="single_choose_b" jdbcType="VARCHAR" property="single_choose_b" />
    <result column="single_choose_c" jdbcType="VARCHAR" property="single_choose_c" />
    <result column="single_choose_d" jdbcType="VARCHAR" property="single_choose_d" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="explanation" jdbcType="NVARCHAR" property="explanation" />
  </resultMap>

  <sql id="Base_Column_List">

    single_choose_id, edu_category_id, edu_knowledge_point_id, choose_content, single_choose_a, 
    single_choose_b, single_choose_c, single_choose_d, answer, deleted, explanation
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from test_single_choose_t
    where single_choose_id = #{single_choose_id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from test_single_choose_t
  </select>

  <select id="selectByEduCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List" />
    from test_single_choose_t
    where edu_category_id = #{edu_category_id,jdbcType=INTEGER} AND deleted = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from test_single_choose_t
    where single_choose_id = #{single_choose_id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.kuangshan.riskcontrol.model.TestSingleChooseT">

    insert into test_single_choose_t (single_choose_id, edu_category_id, 
      edu_knowledge_point_id, choose_content, 
      single_choose_a, single_choose_b, single_choose_c, 
      single_choose_d, answer, deleted, explanation)
    values (#{single_choose_id,jdbcType=INTEGER}, #{edu_category_id,jdbcType=INTEGER}, 
      #{edu_knowledge_point_id,jdbcType=INTEGER}, #{choose_content,jdbcType=VARCHAR}, 
      #{single_choose_a,jdbcType=VARCHAR}, #{single_choose_b,jdbcType=VARCHAR}, #{single_choose_c,jdbcType=VARCHAR}, 
      #{single_choose_d,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER},
      #{explanation,jdbcType=NVARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.kuangshan.riskcontrol.model.TestSingleChooseT">

    insert into test_single_choose_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="single_choose_id != null">
        single_choose_id,
      </if>
      <if test="edu_category_id != null">
        edu_category_id,
      </if>
      <if test="edu_knowledge_point_id != null">
        edu_knowledge_point_id,
      </if>
      <if test="choose_content != null">
        choose_content,
      </if>
      <if test="single_choose_a != null">
        single_choose_a,
      </if>
      <if test="single_choose_b != null">
        single_choose_b,
      </if>
      <if test="single_choose_c != null">
        single_choose_c,
      </if>
      <if test="single_choose_d != null">
        single_choose_d,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="explanation != null">
        explanation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="single_choose_id != null">
        #{single_choose_id,jdbcType=INTEGER},
      </if>
      <if test="edu_category_id != null">
        #{edu_category_id,jdbcType=INTEGER},
      </if>
      <if test="edu_knowledge_point_id != null">
        #{edu_knowledge_point_id,jdbcType=INTEGER},
      </if>
      <if test="choose_content != null">
        #{choose_content,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_a != null">
        #{single_choose_a,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_b != null">
        #{single_choose_b,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_c != null">
        #{single_choose_c,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_d != null">
        #{single_choose_d,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="explanation != null">
        #{explanation,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.kuangshan.riskcontrol.model.TestSingleChooseT">

    update test_single_choose_t
    <set>
      <if test="edu_category_id != null">
        edu_category_id = #{edu_category_id,jdbcType=INTEGER},
      </if>
      <if test="edu_knowledge_point_id != null">
        edu_knowledge_point_id = #{edu_knowledge_point_id,jdbcType=INTEGER},
      </if>
      <if test="choose_content != null">
        choose_content = #{choose_content,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_a != null">
        single_choose_a = #{single_choose_a,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_b != null">
        single_choose_b = #{single_choose_b,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_c != null">
        single_choose_c = #{single_choose_c,jdbcType=VARCHAR},
      </if>
      <if test="single_choose_d != null">
        single_choose_d = #{single_choose_d,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=VARCHAR},
      </if>
      <if test="explanation != null">
        explanation = #{explanation,jdbcType=NVARCHAR},
      </if>
    </set>
    where single_choose_id = #{single_choose_id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.kuangshan.riskcontrol.model.TestSingleChooseT">

    update test_single_choose_t
    set edu_category_id = #{edu_category_id,jdbcType=INTEGER},
      edu_knowledge_point_id = #{edu_knowledge_point_id,jdbcType=INTEGER},
      choose_content = #{choose_content,jdbcType=VARCHAR},
      single_choose_a = #{single_choose_a,jdbcType=VARCHAR},
      single_choose_b = #{single_choose_b,jdbcType=VARCHAR},
      single_choose_c = #{single_choose_c,jdbcType=VARCHAR},
      single_choose_d = #{single_choose_d,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      explanation = #{explanation,jdbcType=NVARCHAR}
    where single_choose_id = #{single_choose_id,jdbcType=INTEGER}
  </update>




</mapper>